[submodule "footilities"]
	path = footilities
	url = https://github.com/foocoop/footilities.git
[submodule "scripts/columnizer"]
	path = scripts/columnizer
	url = https://github.com/adamwulf/Columnizer-jQuery-Plugin.git
